.main-grid-container {
  display: grid;
  grid-template-columns: /*minmax(5%, auto) minmax(auto, 75ch) minmax(5%, auto)*/1fr 3fr 1fr;
  gap: 20px;
  margin-bottom: 3%;
}

.wrapper-card {
  /* display: grid;
  gap: 1.025rem; */
  width: fit-content;
  margin: auto;
  margin-top: 5vh;
  min-width: 1200px;
}

/*testing author border*/ 
.wrapper-card {
  /*border: 1.5px solid black;*/
  border-radius: 20px;
  padding: 3rem 5rem;
  background-color: var(--background-card-color);
}

.title-container {
  display: block;
  margin: 1.5em 0;
}

.dropdown-medium {
  font-family: var(--body-font-family);
  min-width: 120px;
  padding: 6px;
  background-color: var(--background-card-color);
  border: 1px solid var(--secondary-gray-color);
  border-color: var(--secondary-gray-color);
  border-radius: 6px;
  font-size: medium;
  transition: border-color 0.15s ease;
}

.dropdown-normal {
  font-family: var(--body-font-family);
  min-width: 120px;
  padding: 4px;
  /* background-color: var(--background-card-color); */
  border: 1px solid var(--secondary-gray-color);
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.15s ease;
}

.text-entry {
  font-family: var(--body-font-family);
  min-width: 120px;
  padding: 4px;
  border: 1px solid var(--secondary-gray-color);
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.15s ease;
}

.dropdown-medium:hover, .dropdown-normal:hover, .text-entry:hover {
  cursor: pointer;
  border-color: var(--primary-gray-color);
  transition: border-color 0.15s ease;
}
